# Application
NEXT_PUBLIC_APP_NAME=FuturePilot
NEXT_PUBLIC_APP_URL=https://futurepilot.pro
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Database
MONGODB_URI=mongodb+srv://hellmoyy:pisanggoreng1933@cluster0.kob5ynh.mongodb.net/futurepilotdb?retryWrites=true&w=majority&appName=Cluster0

ENCRYPTION_SECRET_KEY=F6FA91C5298CF59C66E121C87AD44

# Authentication
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=TJ5ggIvSoIfGC2F5PktmPDEcLfr3Ris3
NEXTAUTH_SECRET=sPvTrVLAYuzTfPe80JLzVxo300HJJsZf

# JWT
JWT_SECRET=SuhLPBDPgeXEUJ6sfH0zyU2ivaarbp3z
JWT_EXPIRES_IN=7d

# API Keys
API_KEY=your-api-key-here

# AI Services
# Get your API key from: https://platform.openai.com/api-keys
OPENAI_API_KEY=sk-your-openai-api-key-here

# Redis (for caching)
REDIS_URL=redis://localhost:6379

# Email Service
RESEND_API_KEY=re_bu4msqHy_FrHp9TqyyxKKJLxjRyWoCZce


# Stripe (Payment)a
STRIPE_PUBLIC_KEY=pk_test_your-stripe-public-key
STRIPE_SECRET_KEY=sk_test_your-stripe-secret-key
STRIPE_WEBHOOK_SECRET=whsec_your-webhook-secret

# Environment
NODE_ENV=development

# Logging
LOG_LEVEL=debug
